<div ng-repeat="vector in vectors | orderBy : 'name'" style="padding:7px;padding-left:10px;position:relative;min-height:1.4em" ng-class-even="'even'" ng-class-odd="'active'">
	<div ng-show="vector.layer.features.length < 2" style="clear:both">
		<div style="float:left">
			<a href="javascript:;" class="featureLink" ng-click="makeActive()" ng-class="{active:(vector == active)}" >
				{{vector.name}} 
			</a>
		</div>
		<div style="float:right">
			<a class="featureLink" href="javascript:;" title="Plot feature's elevation" ng-show="isPath()" 
				ng-click="showElevation()"><i class="fa fa-align-left fa-rotate-270"></i></a>
			<a class="featureLink" href="javascript:;" title="Edit the vector layer" 
				ng-click="vectorEdit()"><i class="fa fa-pencil"></i></a>
			<a class="featureLink" href="javascript:;" title="Show on map" 
				ng-click="toggle()"><i class="fa" ng-class="{'fa-eye':(!vector.show), 'fa-eye-slash':vector.show}"></i></a>
			<a class="featureLink" href="javascript:;" title="Pan map to feature" 
				ng-click="panToVector()"><i class="fa fa-flag"></i></a>	
			<a href="javascript:"  title="Remove vector layer. Cannot be undone."
				exp-confirm="'Are you sure that you want to delete this map?'" success="remove()"><i class="fa fa-remove"></i></a>						
		</div>
	</div>
	
	<div ng-show="vector.layer.features.length > 1" style="clear:both">
		<div style="float:left">
			<i class="fa fa-caret-right" ng-class="{'fa-caret-down':expanded,'fa-caret-right':(!expanded)}" role="presentation" ng-click="expanded = !expanded"></i> <strong>{{vector.name}}</strong>
		</div>
	
		<div style="float:right">
			<a class="featureLink" href="javascript:;" title="Edit the vector layer" 
				ng-click="vectorEdit()"><i class="fa fa-pencil"></i></a>
			<a class="featureLink" href="javascript:;" title="Show on map" 
				ng-click="toggle()"><i class="fa" ng-class="{'fa-eye':(!vector.show), 'fa-eye-slash':vector.show}"></i></a>
			<a class="featureLink" href="javascript:;" title="Pan map to feature" 
				ng-click="panToVector()"><i class="fa fa-flag"></i></a>	
			<a href="javascript:"  title="Remove vector layer. Cannot be undone."
				exp-confirm="'Are you sure that you want to delete this map?'" success="remove()"><i class="fa fa-remove"></i></a>						
		</div>
		
		<div style="clear:both" ng-show="expanded">
			<div ng-repeat="feature in vector.layer.features">
				<div style="float:left; padding-left:10px">
					{{feature.fid ? feature.fid : feature.data.name ? feature.data.name : 'Feature #' + $index}} 
				</div>
				<div style="float:right">
					<a class="featureLink" href="javascript:;" title="Plot feature's elevation" ng-show="isFeaturePath()" 
						ng-click="showFeatureElevation()"><i class="fa fa-align-left fa-rotate-270"></i></a>
					<a class="featureLink" href="javascript:;" title="Pan map to feature" 
						ng-click="panToFeature()"><i class="fa fa-flag"></i></a>			
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
		
	</div>
</div>