.knob rect {
  fill: #72C7E7;
}

.knob g polygon {
  opacity: 1;
}

.knob circle {
  fill: #A33F1F;
  stroke: #793057;
  stroke-width: 2;
  filter: url(#knobshadow);
}

.knob text {
  font-size: 10px;
  fill: black;
  font-family: sans-serif;
  font-weight: 300;
  -webkit-transition: all .1s ease-in-out;
}

.knob text.active {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
}
